html {
  overflow-y: scroll;
}
body {
  font-size: 13px;
  background-color: rgb(21, 32, 43);
  color:  white;
}
a {
  text-decoration: none;
  color: #2c90e4;
  font-weight: bold;
}
a:hover {
  color: lightgrey;
  text-decoration: underline;
}
b {
  color: #2c90e4;
}
ul {
  padding: 0;
  margin-bottom: 0;
}
li {
  display: inline-block;
}
ul li {
  margin-right: 10px;
}
li i {
  font-size: 20px;
}
li span {
  font-size: 12px;
}
.show li {
  margin-top: 10px;
}
.collapsing li {
  margin-top: 10px;
}
.navbar-adds {
  padding: 20px 0 10px 0;
  background-color: inherit;
}
.nav2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-burger {
  border: 0;
  padding: 0;
  font-size: 20px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2844, 144, 228, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28211, 211, 211, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.c-btn {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #2c90e4;
  color: white;
}
.c-btn:hover {
  background-color: lightgrey;
  color: #2c90e4;
}
#inp-sub {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
}
#footer {
  font-size: 12px;
}
#disclosure {
  font-size:  9px;
  color: grey;
}